<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Product Listing!!!</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<a style="float: right;margin: 30px;" class="btn btn-success" href="./admin.html">Add Products</a>
<a class="btn btn-danger" style="float: right;margin-top:30px;" href="/logout">
    LogOut
</a>
<div id="content" class="box flex-container" style="margin-top:100px;"></div>
</body>
<script src="listProd.js"></script>
</html>