<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="homestyle.css">
</head>
<body align="center" class="bg">
<div class="test_c center font" >
    <h1>Welcome Back!!!</h1>
    <form action="/loginuser" method="post">
        <label for="Email">Email</label><br>
        <input id="Email" name="email" required="required" type="email" placeholder="Enter Your Email" size="50" class="inp">
        <br><br>
        <label for="Password">Password</label><br>
        <input name="password" type="password" class="inp"  size="50" placeholder="Enter Password" id="Password">
        <br><br>
        <input type="submit" value="SUBMIT" class="inp" style="background-color:#ff8c00;color:white;width:70%;" >
        <h4>New User ?<a href="index.html">Sign up</a></h4>
    </form>
</div>
</body>
<script src="homescript.js"></script>
</html>